* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  gap: 10px;
  font-weight: 600;
  background: linear-gradient(
    45deg,
    rgb(99, 99, 252),
    rgb(31, 31, 194),
    rgb(3, 3, 179)
  );
}
.title {
  font-size: 2rem;
}
.container {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}
.sub__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  flex-direction: column;
  height: 400px;
  padding: 10%;
  gap: 20px;
}
.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.joke__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#joke {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.random__btn {
  color: white;
  background: linear-gradient(
    45deg,
    rgb(99, 99, 252),
    rgb(44, 44, 170),
    rgb(11, 11, 235)
  );
}
.random__btn:hover {
  box-shadow: 1px 3px 8px rgb(99, 99, 252), 0px 4px 9px rgb(11, 11, 235);
}
.saved__btn {
  color: white;
  background: linear-gradient(
    45deg,
    rgb(56, 143, 56),
    rgb(22, 156, 22),
    rgb(15, 212, 15)
  );
}
.saved__btn:hover {
  box-shadow: 1px 3px 9px rgb(56, 143, 56), 0px 4px 9px rgb(15, 212, 15);
}
.btn__container {
  display: flex;
  gap: 20px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  justify-content: center;
  align-items: center;
  padding: 10px;
  display: none;
}
.modal__content {
  width: 100%;
  padding: 10px;
  max-width: 400px;
  height: 150px;
  background: white;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  transition: all 0.3s;
}
.modal__close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border-radius: 5px;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.modal__close__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.modal.active {
  display: flex;
}
.modal__btn__container {
  display: flex;
  gap: 20px;
}
.modal__btn__container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  transition: all 0.3s;
}
.modal__btn__container button:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 1px 3px 9px rgb(206, 206, 206);
}
.modal__btn__container button:nth-child(1) {
  color: white;
  background: linear-gradient(70deg, red, rgb(202, 14, 14), rgb(175, 2, 2));
}
.modal__btn__container button:nth-child(2) {
  background: linear-gradient(70deg, rgb(15, 212, 15));
}
.joke__saved__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  overflow-y: scroll;
}
.joke__saved__container::-webkit-scrollbar {
  width: 8px;
}

.joke__saved__container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.joke__saved__container::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(99, 99, 252), rgb(31, 31, 194));
}

.joke__saved__container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.joke__saved__container__close__btn {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border-radius: 5px;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.joke__title {
  display: flex;
  gap: 30px;
}
#joke__saved {
  width: 100%;
}
#joke__saved li {
  border: 1px solid white;
  width: 100%;
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
#joke__saved li div {
  display: flex;
  flex-direction: column;
}
.joke__delete {
  margin-left: auto;
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* remove extra padding */
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  background: linear-gradient(
    45deg,
    rgb(252, 75, 75),
    rgb(177, 22, 48),
    rgb(209, 0, 0)
  );
  flex-shrink: 0;
}
.joke__delete:hover {
  box-shadow: 1px 3px 7px rgb(252, 75, 75), 0px 4px 9px rgb(209, 0, 0);
}
@media (min-width: 800px) {
  .container {
    max-width: 700px;
  }
  .sub__container {
    height: 500px;
    padding: 5%;
  }
}
